# MySQL
MYSQL_ROOT_PASSWORD=password_for_MySQL

# MinIO
MINIO_ROOT_USER=minioadmin_USER
MINIO_ROOT_PASSWORD=minioadmin_PASSWORD

# JWT
JWT_KEY=THIS_IS_A_VERY_LONG_SUPER_SECRET_KEY_FOR_JWT_AUTH_TICKETS_API_GENERAL_2026

# Host Local
HOST=localhost